<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel = "stylesheet" type="text/css" href="create-profile.component.css">
  <link rel="icon" href="../../assets/governmentLogo.png">
  <script type="text/javascript" src="../js/stepper.js" defer></script>
  <title>Иницијализација профила - eUprava</title>
</head>
<body>
<div class="topLayout">
  <div class="topLayoutWrapper">
    <div class="topLayout-list-container-right">
      <ul id="topLayout-list-right">
        <li class="list-parameter" id="letters-parameter">Ћирилица <span id="falling-menu-arrow">▼</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="headerLayout">
  <div class="headerLayoutWrapper">
    <a href="/" id="logo-government-href"><img src="../../assets/governmentLogo.png" alt="logo-government" id="logo-government"></a>
    <div class="logo-text-container">
      <a href="/" id="logo-text">euprava.gov.rs</a>
    </div>
  </div>
</div>
<div class="menuLayout">
  <div class="menuLayoutWrapper">
    <div class="menuRightLayout">
      <div class="profileLayout">
        <button class="dropProfileButton">
            <span class="icon-circle">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
              </svg></span><span class="profileText">Моја еУправа ▼</span>
        </button>
        <div class="dropdown-content">
          <a href = "http://localhost:4200/login">Пријава</a>
          <a href ="http://localhost:4200/register">Регистрација</a>
          <ng-container *ngIf="isAuthenticated()">
            <a  style="margin-left: 10px;margin-right: 10px"href="http://localhost:4200/profile"><button id="profilebutn">Profile</button></a>
            <button id="logoutbttn" (click)="logout()">Logout</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homepage-info-container">
  <div class="homepage-info-container-wrapper">
    <form action="#" class="form">
      <h1 class="text-center">Иницијализација корисника</h1>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>

        <div class="progress-step progress-step-active" data-title="Основни подаци"></div>
        <div class="progress-step" data-title="Контакт"></div>
        <div class="progress-step" data-title="Идентификација"></div>
        <div class="progress-step" data-title="Готово"></div>
      </div>
      <!-- Steps -->
      <div class="form-step form-step-active">
        <h2 class="form-explain">Унесите основне податке о вама<br></h2>
        <div class="input-group">
          <label for="firstname">Име</label>
          <input type="text" name="firstname" id="firstname" />
        </div>
        <div class="input-group">
          <label for="lastname">Презиме</label>
          <input type="text" name="lastname" id="lastname" />
        </div>
        <div class="input-group">
          <label for="birthday">Датум рођења</label>
          <div class="custom-datepicker-input-container inputContainer">
            <input readonly matInput [matDatepicker]="picker" formControlName="birthday" id="birthday" class="custom-datepicker-input" (focus)="picker.open()">
            <mat-datepicker #picker class="custom-datepicker"></mat-datepicker>
          </div>
        </div>
        <div class="input-group">
          <label for="gender">Пол</label>
          <select id="gender" formControlName="gender" required>
            <option value="male">МУШКО</option>
            <option value="female">ЖЕНСКО</option>
          </select>
        </div>
        <div class="">
          <a class="btn btn-next width-50 ml-auto">Даље</a>
        </div>
      </div>
      <div class="form-step">
        <h2 class="form-explain">Унесите ваше контакт<br>информације</h2>
        <div class="input-group">
          <label for="phone">Број телефона</label>
          <input type="text" name="phone" id="phone" />
        </div>
        <div class="input-group">
          <label for="street">Улица</label>
          <input type="text" name="street" id="street" />
        </div>
        <div class="input-group">
          <label for="streetNumber">Број</label>
          <input type="text" name="streetNumber" id="streetNumber" />
        </div>
        <div class="input-group">
          <label for="city">Град</label>
          <input type="text" name="city" id="city" />
        </div>
        <div class="input-group">
          <label for="country">Држава</label>
          <select id="country" name="country" formControlName="country" class="form-control">
            <option value="Авганистан">Авганистан</option>
            <option value="Оландска острва">Оландска острва</option>
            <option value="Албанија">Албанија</option>
            <option value="Алжир">Алжир</option>
            <option value="Америчка Самоа">Америчка Самоа</option>
            <option value="Андора">Андора</option>
            <option value="Ангола">Ангола</option>
            <option value="Ангвила">Ангвила</option>
            <option value="Антарктик">Антарктик</option>
            <option value="Антигва и Барбуда">Антигва и Барбуда</option>
            <option value="Аргентина">Аргентина</option>
            <option value="Јерменија">Јерменија</option>
            <option value="Аруба">Аруба</option>
            <option value="Аустралија">Аустралија</option>
            <option value="Аустрија">Аустрија</option>
            <option value="Азербејџан">Азербејџан</option>
            <option value="Бахами">Бахамска острва</option>
            <option value="Бахреин">Бахреин</option>
            <option value="Бангладеш">Бангладеш</option>
            <option value="Барбадос">Барбадос</option>
            <option value="Белорусија">Белорусија</option>
            <option value="Белгија">Белгија</option>
            <option value="Белизе">Белизе</option>
            <option value="Бенин">Бенин</option>
            <option value="Бермуда">Бермуда</option>
            <option value="Бутан">Бутан</option>
            <option value="Боливија">Боливија</option>
            <option value="Босна и Херцеговина">Босна и Херцеговина</option>
            <option value="Боцвана">Боцвана</option>
            <option value="Буве Острва">Буве Острва</option>
            <option value="Бразил">Бразил</option>
            <option value="Британска Индијска Океанија">Британска Индијска Океанија</option>
            <option value="Брунеј">Брунеј</option>
            <option value="Бугарска">Бугарска</option>
            <option value="Буркина Фасо">Буркина Фасо</option>
            <option value="Бурунди">Бурунди</option>
            <option value="Камбоџа">Камбоџа</option>
            <option value="Камерун">Камерун</option>
            <option value="Канада">Канада</option>
            <option value="Кабо Верде">Кабо Верде</option>
            <option value="Кајманска Острва">Кајманска Острва</option>
            <option value="Централноафричка Република">Централноафричка Република</option>
            <option value="Чад">Чад</option>
            <option value="Чиле">Чиле</option>
            <option value="Кина">Кина</option>
            <option value="Кристмас Острва">Кристмас Острва</option>
            <option value="Кокос (Келинг) Острва">Кокос (Келинг) Острва</option>
            <option value="Колумбија">Колумбија</option>
            <option value="Коморска Острва">Коморска Острва</option>
            <option value="Конго">Конго</option>
            <option value="Конго, Демократска Република">Конго, Демократска Република</option>
            <option value="Кукова Острва">Кукова Острва</option>
            <option value="Коста Рика">Коста Рика</option>
            <option value="Кот Д'Ивоар">Кот Д'Ивоар</option>
            <option value="Хрватска">Хрватска</option>
            <option value="Куба">Куба</option>
            <option value="Кипар">Кипар</option>
            <option value="Чешка">Чешка</option>
            <option value="Данска">Данска</option>
            <option value="Џибути">Џибути</option>
            <option value="Доминика">Доминика</option>
            <option value="Доминиканска Република">Доминиканска Република</option>
            <option value="Еквадор">Еквадор</option>
            <option value="Египат">Египат</option>
            <option value="Салвадор">Салвадор</option>
            <option value="Екваторијална Гвинеја">Екваторијална Гвинеја</option>
            <option value="Еритреја">Еритреја</option>
            <option value="Естонија">Естонија</option>
            <option value="Етиопија">Етиопија</option>
            <option value="Фолкландска Острва (Малвинска Острва)">Фолкландска Острва (Малвинска Острва)</option>
            <option value="Фарска Острва">Фарска Острва</option>
            <option value="Фиџи">Фиџи</option>
            <option value="Финска">Финска</option>
            <option value="Француска">Француска</option>
            <option value="Француска Гвајана">Француска Гвајана</option>
            <option value="Француска Полинезија">Француска Полинезија</option>
            <option value="Француске Јужне Територије">Француске Јужне Територије</option>
            <option value="Габон">Габон</option>
            <option value="Гамбија">Гамбија</option>
            <option value="Грузија">Грузија</option>
            <option value="Немачка">Немачка</option>
            <option value="Гана">Гана</option>
            <option value="Гибралтар">Гибралтар</option>
            <option value="Грчка">Грчка</option>
            <option value="Гренланд">Гренланд</option>
            <option value="Гренада">Гренада</option>
            <option value="Гваделуп">Гваделуп</option>
            <option value="Гуам">Гуам</option>
            <option value="Гватемала">Гватемала</option>
            <option value="Гернзи">Гернзи</option>
            <option value="Гвинеја">Гвинеја</option>
            <option value="Гвинеја-Бисау">Гвинеја-Бисау</option>
            <option value="Гвајана">Гвајана</option>
            <option value="Хаити">Хаити</option>
            <option value="Острва Херд и Мекдоналд">Острва Херд и Мекдоналд</option>
            <option value="Света Столица (Ватикан)">Света Столица (Ватикан)</option>
            <option value="Хондурас">Хондурас</option>
            <option value="Хонг Конг">Хонг Конг</option>
            <option value="Мађарска">Мађарска</option>
            <option value="Исланд">Исланд</option>
            <option value="Индија">Индија</option>
            <option value="Индонезија">Индонезија</option>
            <option value="Иран, Исламска Република">Иран, Исламска Република</option>
            <option value="Ирак">Ирак</option>
            <option value="Ирска">Ирска</option>
            <option value="Острво Мен">Острво Мен</option>
            <option value="Израел">Израел</option>
            <option value="Италија">Италија</option>
            <option value="Јамајка">Јамајка</option>
            <option value="Јапан">Јапан</option>
            <option value="Џерси">Џерси</option>
            <option value="Јордан">Јордан</option>
            <option value="Казахстан">Казахстан</option>
            <option value="Кенија">Кенија</option>
            <option value="Кирибати">Кирибати</option>
            <option value="Кореја, Демократска Народна Република">Кореја, Демократска Народна Република</option>
            <option value="Кореја, Република">Кореја, Република</option>
            <option value="Кувајт">Кувајт</option>
            <option value="Киргистан">Киргистан</option>
            <option value="Народна демократска република Лаос">Народна демократска република Лаос</option>
            <option value="Летонија">Летонија</option>
            <option value="Либан">Либан</option>
            <option value="Лесото">Лесото</option>
            <option value="Либерија">Либерија</option>
            <option value="Либијска Арапска Јамахирија">Либијска Арапска Јамахирија</option>
            <option value="Лихтенштајн">Лихтенштајн</option>
            <option value="Литванија">Литванија</option>
            <option value="Луксембург">Луксембург</option>
            <option value="Макао">Макао</option>
            <option value="Македонија, Бивша Југословенска Република">Македонија, Бивша Југословенска Република</option>
            <option value="Мадагаскар">Мадагаскар</option>
            <option value="Малави">Малави</option>
            <option value="Малезија">Малезија</option>
            <option value="Малдиви">Малдиви</option>
            <option value="Мали">Мали</option>
            <option value="Малта">Малта</option>
            <option value="Маршалска Острва">Маршалска Острва</option>
            <option value="Мартиник">Мартиник</option>
            <option value="Мауританија">Мауританија</option>
            <option value="Маурицијус">Маурицијус</option>
            <option value="Мајот">Мајот</option>
            <option value="Мексико">Мексико</option>
            <option value="Микронезија, Федеративне Државе">Микронезија, Федеративне Државе</option>
            <option value="Молдавија, Република">Молдавија, Република</option>
            <option value="Монако">Монако</option>
            <option value="Монголија">Монголија</option>
            <option value="Црна Гора">Црна Гора</option>
            <option value="Монтсерат">Монтсерат</option>
            <option value="Мароко">Мароко</option>
            <option value="Мозамбик">Мозамбик</option>
            <option value="Мијанмар">Мијанмар</option>
            <option value="Намибија">Намибија</option>
            <option value="Науру">Науру</option>
            <option value="Непал">Непал</option>
            <option value="Холандија">Холандија</option>
            <option value="Холандски Антили">Холандски Антили</option>
            <option value="Нова Каледонија">Нова Каледонија</option>
            <option value="Нови Зеланд">Нови Зеланд</option>
            <option value="Никарагва">Никарагва</option>
            <option value="Нигер">Нигер</option>
            <option value="Нигерија">Нигерија</option>
            <option value="Ниуе">Ниуе</option>
            <option value="Норфолк Острва">Норфолк Острва</option>
            <option value="Северна Маријанска Острва">Северна Маријанска Острва</option>
            <option value="Норвешка">Норвешка</option>
            <option value="Оман">Оман</option>
            <option value="Пакистан">Пакистан</option>
            <option value="Палау">Палау</option>
            <option value="Палестинска Територија, Окупирана">Палестинска Територија, Окупирана</option>
            <option value="Панама">Панама</option>
            <option value="Папуа Нова Гвинеја">Папуа Нова Гвинеја</option>
            <option value="Парагвај">Парагвај</option>
            <option value="Перу">Перу</option>
            <option value="Филипини">Филипини</option>
            <option value="Питкерн">Питкерн</option>
            <option value="Пољска">Пољска</option>
            <option value="Португалија">Португалија</option>
            <option value="Порто Рико">Порто Рико</option>
            <option value="Катар">Катар</option>
            <option value="Реинион">Реинион</option>
            <option value="Румунија">Румунија</option>
            <option value="Руска Федерација">Руска Федерација</option>
            <option value="Руанда">Руанда</option>
            <option value="Света Јелена">Света Јелена</option>
            <option value="Сент Китс и Невис">Сент Китс и Невис</option>
            <option value="Сент Луција">Сент Луција</option>
            <option value="Свети Пјер и Микелон">Свети Пјер и Микелон</option>
            <option value="Свети Винсент и Гренадини">Свети Винсент и Гренадини</option>
            <option value="Самоа">Самоа</option>
            <option value="Сан Марино">Сан Марино</option>
            <option value="Сао Томе и Принципе">Сао Томе и Принципе</option>
            <option value="Саудијска Арабија">Саудијска Арабија</option>
            <option value="Сенегал">Сенегал</option>
            <option value="Србија">Србија</option>
            <option value="Сејшели">Сејшели</option>
            <option value="Сијера Леоне">Сијера Леоне</option>
            <option value="Сингапур">Сингапур</option>
            <option value="Словачка">Словачка</option>
            <option value="Словенија">Словенија</option>
            <option value="Соломонска Острва">Соломонска Острва</option>
            <option value="Сомалија">Сомалија</option>
            <option value="Јужноафричка Република">Јужноафричка Република</option>
            <option value="Јужна Џорџија и Јужна Сандвич Острва">Јужна Џорџија и Јужна Сандвич Острва</option>
            <option value="Шпанија">Шпанија</option>
            <option value="Шри Ланка">Шри Ланка</option>
            <option value="Судан">Судан</option>
            <option value="Суринам">Суринам</option>
            <option value="Свазиленд">Свазиленд</option>
            <option value="Шведска">Шведска</option>
            <option value="Швајцарска">Швајцарска</option>
            <option value="Сиријска Арапска Република">Сиријска Арапска Република</option>
            <option value="Таџикистан">Таџикистан</option>
            <option value="Танзанија, Уједињена Република">Танзанија, Уједињена Република</option>
            <option value="Тајланд">Тајланд</option>
            <option value="Тимор-Лесте">Тимор-Лесте</option>
            <option value="Того">Того</option>
            <option value="Токелау">Токелау</option>
            <option value="Тонга">Тонга</option>
            <option value="Тринидад и Тобаго">Тринидад и Тобаго</option>
            <option value="Тунис">Тунис</option>
            <option value="Турска">Турска</option>
            <option value="Туркменистан">Туркменистан</option>
            <option value="Туркс и Кајкос Острва">Туркс и Кајкос Острва</option>
            <option value="Тувалу">Тувалу</option>
            <option value="Уганда">Уганда</option>
            <option value="Украјина">Украјина</option>
            <option value="Уједињени Арапски Емирати">Уједињени Арапски Емирати</option>
            <option value="Уједињено Краљевство">Уједињено Краљевство</option>
            <option value="Сједињене Америчке Државе">Сједињене Америчке Државе</option>
            <option value="Мања Удаљена Острва, Сједињене Државе">Мања Удаљена Острва, Сједињене Државе</option>
            <option value="Уругвај">Уругвај</option>
            <option value="Узбекистан">Узбекистан</option>
            <option value="Вануату">Вануату</option>
            <option value="Венецуела, Боливаријанска Република">Венецуела, Боливаријанска Република</option>
            <option value="Вијетнам">Вијетнам</option>
            <option value="Виргинска Острва, Британска">Виргинска Острва, Британска</option>
            <option value="Виргинска Острва, С.А.Д.">Виргинска Острва, С.А.Д.</option>
            <option value="Валлис и Футуна">Валлис и Футуна</option>
            <option value="Западна Сахара">Западна Сахара</option>
            <option value="Јемен">Јемен</option>
            <option value="Замбија">Замбија</option>
            <option value="Зимбабве">Зимбабве</option>
          </select>
        </div>
        <div class="btns-group">
          <a class="btn btn-prev">Назад</a>
          <a class="btn btn-next">Даље</a>
        </div>
      </div>
      <div class="form-step">
        <h2 class="form-explain">Унесите ваш број из <br>матичне књиге рођених<br></h2>
        <div class="input-group">
          <label for="jmbg">Матични број (ЈМБГ)</label>
          <input type="text" name="jmbg" id="jmbg" />
        </div>
        <div class="btns-group">
          <a class="btn btn-prev">Назад</a>
          <a class="btn btn-next">Даље</a>
        </div>
      </div>
      <div class="form-step">
        <h2 class="form-explain">Изаберите корисничко име<br> које ћете користити<br> на овом налогу</h2>
        <div class="input-group">
          <label for="username">Корисничко име</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="btns-group">
          <a class="btn btn-prev">Назад</a>
          <input type="submit" value="Потврди" class="btn" />
        </div>
      </div>
    </form>
  </div>
</div>
<footer>
  <div class="footer-content">
    <div class="footer-crest">
      <img src="../../assets/serbia-srbija-logo-E2B57872B8-seeklogo.com.png" alt="serbian-crest" class="crest">
    </div>
    <div class = "footer-content-info">
      <h3>Факултет техничких наука у Новом Саду</h3>
      <p>Пројекат из предмета - Технологије и системи еУправе</p>
      <ul class="socials">
        <li><a href="#" class="instagram"></a></li>
        <li><a href="#" class="ftn"></a></li>
        <li><a href="#" class="linkedin"></a></li>
        <li><a href="#" class="tiktok"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 еУправа. Сва права задржана.</p>
  </div>
</footer>
</body>
</html>
