<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel = "stylesheet" type="text/css" href="create-profile.component.css">
  <link rel="icon" href="../../assets/governmentLogo.png">
  <script type="text/javascript" src="../js/stepper.js" defer></script>
  <title>Иницијализација профила - eUprava</title>
</head>
<body>
<div class="topLayout">
  <div class="topLayoutWrapper">
    <div class="topLayout-list-container-right">
      <ul id="topLayout-list-right">
        <li class="list-parameter" id="letters-parameter">Ћирилица <span id="falling-menu-arrow">▼</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="headerLayout">
  <div class="headerLayoutWrapper">
    <a href="/" id="logo-government-href"><img src="../../assets/governmentLogo.png" alt="logo-government" id="logo-government"></a>
    <div class="logo-text-container">
      <a href="/" id="logo-text">euprava.gov.rs</a>
    </div>
  </div>
</div>
<div class="menuLayout">
  <div class="menuLayoutWrapper">
    <div class="menuRightLayout">
      <div class="profileLayout">
        <button class="dropProfileButton">
            <span class="icon-circle">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
              </svg></span><span class="profileText">Моја еУправа ▼</span>
        </button>
        <div class="dropdown-content">
          <a href = "http://localhost:4200/login">Пријава</a>
          <a href ="http://localhost:4200/register">Регистрација</a>
          <ng-container *ngIf="isAuthenticated()">
            <a  style="margin-left: 10px;margin-right: 10px"href="http://localhost:4200/profile"><button id="profilebutn">Profile</button></a>
            <button id="logoutbttn" (click)="logout()">Logout</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="homepage-info-container">
  <div class="homepage-info-container-wrapper">
    <form action="#" class="form">
      <h1 class="text-center">Иницијализација корисника</h1>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>

        <div class="progress-step progress-step-active" data-title="Основни подаци"></div>
        <div class="progress-step" data-title="Контакт"></div>
        <div class="progress-step" data-title="Идентификација"></div>
        <div class="progress-step" data-title="Готово"></div>
      </div>
      <!-- Steps -->
      <div class="form-step form-step-active">
        <h2 class="form-explain">Унесите основне податке о вама<br></h2>
        <div class="input-group">
          <label for="firstname">Име</label>
          <input type="text" name="firstname" id="firstname" />
        </div>
        <div class="input-group">
          <label for="lastname">Презиме</label>
          <input type="text" name="lastname" id="lastname" />
        </div>
        <div class="input-group">
          <label for="birthday">Датум рођења</label>
          <div class="custom-datepicker-input-container inputContainer">
            <input readonly matInput [matDatepicker]="picker" formControlName="birthday" id="birthday" class="custom-datepicker-input" (focus)="picker.open()">
            <mat-datepicker #picker class="custom-datepicker"></mat-datepicker>
          </div>
        </div>
        <div class="input-group">
          <label for="gender">Пол</label>
          <select id="gender" formControlName="gender" required>
            <option value="male">МУШКО</option>
            <option value="female">ЖЕНСКО</option>
          </select>
        </div>
        <div class="">
          <a class="btn btn-next width-50 ml-auto">Даље</a>
        </div>
      </div>
      <div class="form-step">
        <h2 class="form-explain">Унесите ваш број телефона<br></h2>
        <div class="input-group">
          <label for="phone">Број телефона</label>
          <input type="text" name="phone" id="phone" />
        </div>
        <div class="btns-group">
          <a class="btn btn-prev">Previous</a>
          <a class="btn btn-next">Next</a>
        </div>
      </div>
      <div class="form-step">
        <h2 class="form-explain">Унесите ваш број из <br>матичне књиге рођених<br></h2>
        <div class="input-group">
          <label for="jmbg">Матични број (ЈМБГ)</label>
          <input type="text" name="jmbg" id="jmbg" />
        </div>
        <div class="input-group" id="role">
          <select id="roleSelection" formControlName="role" required>
            <option value="Guest" selected>NEWBIE</option>
          </select>
        </div>
        <div class="btns-group">
          <a class="btn btn-prev">Назад</a>
          <a class="btn btn-next">Даље</a>
        </div>
      </div>
      <div class="form-step">
        <h2 class="form-explain">Изаберите корисничко име<br> које ћете користити<br> на овом налогу</h2>
        <div class="input-group">
          <label for="username">Корисничко име</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="btns-group">
          <a class="btn btn-prev">Назад</a>
          <input type="submit" value="Submit" class="btn" />
        </div>
      </div>
    </form>
  </div>
</div>
<footer>
  <div class="footer-content">
    <div class="footer-crest">
      <img src="../../assets/serbia-srbija-logo-E2B57872B8-seeklogo.com.png" alt="serbian-crest" class="crest">
    </div>
    <div class = "footer-content-info">
      <h3>Факултет техничких наука у Новом Саду</h3>
      <p>Пројекат из предмета - Технологије и системи еУправе</p>
      <ul class="socials">
        <li><a href="#" class="instagram"></a></li>
        <li><a href="#" class="ftn"></a></li>
        <li><a href="#" class="linkedin"></a></li>
        <li><a href="#" class="tiktok"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 еУправа. Сва права задржана.</p>
  </div>
</footer>
</body>
</html>
